.mobile-datepicker {
    display: block;
    font: 14px/18px "Microsoft Yahei", Tahoma, Helvetica, Arial, Verdana, "\5b8b\4f53", sans-serif;
}

.mobile-datepicker-head {
    line-height: 40px;
    font-size: 1.125em;
}

.mobile-datepicker-head .mb-arrow {
    width: 50px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #147BCE;
    font-weight: bold;
}

.mobile-datepicker-dates {
    min-height: 180px;
    position: relative;
    overflow: hidden;
}

.mobile-datepicker-date > .the-date {
    width: 14.2857%;
    display: inline-block;
    text-align: center;
    position: relative;
    font-size: .875em;
    line-height: 2.5em;
}

.prev-month-date-fix, .next-month-date-fix {
    color: #999;
}

.mobile-datepicker-week {
    font-size: .875em;
    color: #0179D1;
    line-height: 2em;
    border-bottom: 1px solid #0179D1;
}

.mobile-datepicker-footer {
    padding: 1em 0;
}

.mobile-datepicker-footer button.btn {
    border-radius: 0;
    border-color: #efefef;
    padding-left: 2em;
    padding-right: 2em;
}

.mobile-datepicker-date {
    position: absolute;
    width: 100%;
    transition: all .3s ease-in-out 0s;
}

.mobile-datepicker-date.x_left {
    transform: translateX(-100%);
}

.mobile-datepicker-date.x_right {
    transform: translateX(100%);
}

.mobile-datepicker-date.in {
    transform: translateX(0);
}

.mobile-datepicker .to-day-date {
    background-color: #9babf7;
    color: #fff;
}

.mobile-datepicker .range-date {
    background-color: #a3d5f7;
    color: #fff;
}

.mobile-datepicker .start-date, .mobile-datepicker .end-date {
    background-color: #0179D1;
    color: #fff;
}

.mobile-datepicker-panel-bg {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out 0s;
    z-index: 201610;
}

.mobile-datepicker-panel {
    background-color: #F7F7F7;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out 0s;
    transform: translateY(100%);
    z-index: 201611;
}

mobile-datepicker.show .mobile-datepicker-panel {
    transform: translateY(0);
}

mobile-datepicker.show .mobile-datepicker-panel-bg {
    opacity: 0.2;
    visibility: visible;
}
